<p>
  You can currently play Live Speed matches with 2 players. Future expansion will allow up to 4 players to play a
  single game. A match consists of at least one round, and can be extended in increments of 2 rounds (so that the total
  number of rounds is always an odd number to avoid draws). You can start playing now,
  <%= link_to 'we just need a nickname', new_player_path %>.
</p>

<p>
  Each round is played as follows:
</p>

<%= anchored_header(t('.setup_subtitle')) %>

<p>
  Each player is dealt five cards to form a hand, and additional 15 cards face down to form a draw pile. Two stacks of
  five cards, placed face down on each side between the players, serve as replacement piles. Finally, two cards are
  placed face down in the center between the replacement piles. These form the main game piles, in which most of the
  action occurs.
</p>

<p>
  This is what the game table looks like:
</p>

<p class="centered">
  <%= image_tag asset_pack_path('media/images/ss/game1_annotated.png'), class: 'full-size-image' %>
</p>

<p>
  Here's a summary of what each label means:
</p>

<ol>
  <li>Your hand cards. These are the cards that are currently available for you to play.</li>
  <li>Your draw pile. You start with 15 of these, your goal is to get rid of them all.</li>
  <li>The 2 central piles. This is where all the action happens. Play your cards here!</li>
  <li>The replacement piles. These will be used when neither play has any more valid plays to make.</li>
  <li>Your opponent's hand. There's nothing for you here, but you can use it to spy on your opponent!</li>
</ol>

<%= anchored_header(t('.play_subtitle')) %>

<p>
  The round begins when all players click the 'READY' button. At this point, the face-down cards in the center piles at
  turned face-up at the same time. Using cards from their hand, the players must simultaneously place cards of a rank
  that is one above or one below on top of either of the center stacks without hesitating to shuffle cards or otherwise
  delay the game (however a player may only play one card at a time). For example, a pile with a six on top may have a
  five or a seven placed on it, but not another six. Ace is both a high and low card, considered one value above a King
  as well as one below a Two, so that the cards form a looping sequence. Whenever the number of cards in a player's
  hands drops below five, a card from the player's draw pile is automaticaly drawn to their hand to maintain exactly
  five cards until that player's draw pile is depleted.
</p>

<p>
  When both players run out of options for play they must click their respective replacement piles, and, when everyone
  has clicked, one card from each replacement pile is flipped onto the top of the central piles. If these piles become
  depleted, the central stacks are shuffled individually and are placed face-down as new replacement piles from which
  cards can be flipped. If a player has a card to place it must be placed, so the replacement piles can only be played
  when no one has any valid plays left.
</p>

<p>
  A player wins by running out of cards in his hand and draw pile before the other player.
</p>