<p>
  Speed is a card game, played with a standard 52-card deck. The main goal is to get rid of all of your own cards
  before your opponents. It's mainly a speed-based game, as opposed to a more strategy-focused card game, and can be
  played as a 2 or 4 person game.
</p>

<p>
  LiveSpeed is a platform where you can play Speed online, in real time with your friends. Don't have any friends?
  Don't worry, you can also find an open match and play with a stranger! Interested?
</p>

<p class="centered">
  <%= link_to 'Play now!', new_player_path, class: 'btn btn-alt btn-hero' %>
</p>
