$brand: #076324;
$brand-1: #6aa17c;
$brand-2: #398250;
$brand-3: #064f1d;
$brand-4: #043b16;

$brand-alt: #710838;
$brand-alt-1: #aa6b88;
$brand-alt-2: #8d3960;
$brand-alt-3: #5a062d;
$brand-alt-4: #440522;

$brand-gray-0: #011407;
$brand-gray-1: #1a2c20;
$brand-gray-2: #344339;
$brand-gray-3: #4d5b51;
$brand-gray-4: #67726a;
$brand-gray-5: #808a83;
$brand-gray-6: #99a19c;
$brand-gray-7: #b3b9b5;
$brand-gray-8: #ccd0cd;
$brand-gray-9: #E8F0EB;

$brand-black: $brand-gray-0;
$brand-white: $brand-gray-9;

$yellow: #DD7700;
$red: #AA2200;

$white: white;
$black: black;

$border-color: $brand-gray-4;
$border-color-active: $brand-gray-5;
$input-border-color: $brand-gray-7;

$text-color: $brand-black;
$text-color-faded: $brand-gray-4;

$grid-breakpoints: (
                       xs: 0,
                       sm: 576px,
                       md: 768px,
                       lg: 992px,
                       xl: 1368px
                   ) !default;