<%= title 'My Matches' %>

<%= link_to 'Create new Match', new_match_path, class: 'btn' %>

<ul>
  <% @matches.each do |match| %>
    <li><%= link_to match.description, match %></li>
  <% end %>
</ul>
