<%= title t('.title') %>

<%= link_to t('.new_match_btn'), new_match_path, class: 'btn' %>

<ul>
  <% @matches.each do |match| %>
    <li><%= link_to match.description, match %></li>
  <% end %>
</ul>
