.quick-round-table {
  background-image: asset-url('felt.png');
  background-repeat: repeat;
}

.quick-round-table td {
  padding: 0.5rem;
}

span.playing-card {
  background: white;
  width: 0.91em;
  display: inline-block;
  font-size: 3rem;
  line-height: 1.25em;
  padding-top: 0.01em;
  text-indent: -0.057em;
  border-radius: 0.13em;
}