*, *::before, *::after {
  box-sizing: border-box;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

html, body, .container {
  box-sizing: border-box;
  display:    block;
  height:     100%;
  overflow:   hidden;
}

@font-face {
  font-family: 'Cleveland';
  src: asset-url('cleveland.ttf') format('truetype');
}

@font-face {
  font-family: 'Barbaro';
  src: asset-url('barbaro.ttf') format('truetype');
}

h1, h2, h3, h4, h5, h6 { font-family: 'Cleveland', serif; }

.game-table-container {
  background-image:  asset-url('felt.png');
  background-repeat: repeat;
  box-sizing:        border-box;
  display:           block;
  height:            100%;
  position:          relative;

  &:before {
    content:    '';
    background: radial-gradient(circle, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    position:   absolute;
    bottom:     0;
    left:       0;
    right:      0;
    top:        0;
  }
}

.game-table-gamearea {
  display:  block;
  position: absolute;
  bottom:   0;
  left:     0;
  right:    0;
  top:      0;
}

.game-table-hand { position: relative; }

.game-table-cardslots {
  position: relative;

  .game-table-cardslot {
    border:        6px solid rgba(255, 255, 255, 0.7);
    border-radius: 24px;
    height:        324px;
    position:      absolute;
    width:         216px;
    top:           6px;
    left:          0;
  }
}
