html, body, .container {
  display: block;
  height: 100%;
}

.game-table-container {
  background-image: asset-url('felt.png');
  background-repeat: repeat;
  display: block;
  height: 100%;
  position: relative;

  &:before {
    content: '';
    background: radial-gradient(circle, rgba(255,255,255,0.05) 0%, rgba(0,0,0,0.4) 100%);
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}