<!DOCTYPE html>
<html>
<head>
  <%= render partial: 'layouts/header', locals: { pack_name: 'game' } %>

  <%= yield :head %>
</head>

<body>
<div class="container" data-behaviour="vue">
  <%= yield %>
</div>
</body>
</html>
